@media only screen and (max-width: 576px) {
  /*/ ----------------------------------------------------------- /*/
  /*/ ---------------------- FORM LOGIN ------------------------- /*/
  /*/ ----------------------------------------------------------- /*/

  .form-control,
  .login-button,
  .validation-alert {
    font-size: 75% !important;
  }

  .login-form {
    max-width: 350px !important;
  }

  .validation-alert {
    margin-left: 15px !important;
  }

}
