/*/ ---------------------------------------------------- /*/
/*/ -------------------- FORM ------------------------- /*/
/*/ -------------------------------------------------- /*/

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.age-verification {
  margin-top: 30px;
  text-align: center;
}

.input-group {
  padding-bottom: 30px;
}

.form-control:focus {
  border-color: #390e0e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #390e0e;
}

.input-group-text {
  border: 0;
  padding-left: 0;
  background: #fff;
  padding-bottom: 10px;
}

.button-form {
  margin-top: 20px;
}

.signup-form {
  margin: 10px auto;
  padding-bottom: 35px;
  width: 1000px;
}

input, textarea {
  font-size: 110% !important;
  padding-left: 10px;
}

.signup-button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-weight: 400;
  cursor: pointer;
  background: #fff;
  -webkit-transition: color 0.5s, background-color 0.5s, box-shadow 0.5s ease;
  transition: color 0.5s, background-color 0.5s, box-shadow 0.5s ease;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 2px #e3e3e3;
  letter-spacing: .1em;
  width: 100%;
}

.signup-button:hover, .signup-button:focus {
  color: #390e0e;
  box-shadow: 0 4px 10px 4px #e3e3e3;
}
