<DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="resources/css/app.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

        <title>Green Apron</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                  <a href="/"><img src="resources/img/greenapron-logo.png" alt="Omnifood logo" class="logo"></a>
                  <a href="/"><img src="resources/img/greenapron-logo.png" alt="Omnifood logo" class="logo-small"></a>
                    <ul class="nav">
                        <li><a href="#about-us">Features</a></li>
                        <li><a href="#how-it-works">How it Works</a></li>
                        <li><a href="#our-cities">Find us</a></li>
                        <li><a href="/partners">Partners</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                    <div class="hero-text-box col-md-12">
                        <h1>Grown locally.<br/>Delivered conveniently.</h1>
                        <a href="#" class="btn btn-fill js--scroll-to-plans">Get Started</a>
                    </div>
            </div>
        </header>
        <!--- Features section --->
        <section class="container features-section js--features-section" id="about-us">
            <div class="row">
                    <h2>High Quality Cannabis Delivered Discretely</h2>
                    <p class="long-copy">
                    Welcome to Green Apron. We delivery high quality medical and recreational Cannabis discretely and straight to your doorstep! We offer
                    a wide selection of strains to choose from, that come from your locally licensed growers.
                    </p>
            </div>
            <div class="row">
                <div class="col span-1-of-3 box">
                    <i class="ion-ios-nutrition-outline icon-big"></i>
                    <h3>Wide Selection of Locally Grown Cannabis.</h3>
                    <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac quam at massa eleifend fringilla ac in nibh. Sed dapibus fringilla metus eget vulputate. Nullam vestibulum, dolor at blandit volutpat, massa neque pharetra dolor, et molestie enim velit et mauris.
                    </p>
                </div>
                <div class="col span-1-of-3 box">
                    <i class="ion-ios-calendar-outline icon-big"></i>
                    <h3>Weekly/Monthly Deliveries.</h3>
                    <p>
                    Proin dapibus sed lorem ac placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eget tellus a lacus lobortis lacinia ut eu turpis. Donec ultricies imperdiet odio sed tempus.
                    </p>
                </div>
                <div class="col span-1-of-3 box">
                    <i class="ion-ios-box-outline icon-big"></i>
                    <h3>Fast and Discrete Deliveries.</h3>
                    <p>
                    In in lorem nec turpis commodo egestas. Nullam lacinia sem et scelerisque pretium. Praesent scelerisque mauris vitae nisi faucibus porttitor. Suspendisse luctus purus quis felis sollicitudin viverra.
                    </p>
                </div>
            </div>
        </section>
        <!--- Steps section --->
        <section class="steps-section" id="how-it-works">
            <div class="row">
                <h2>How it works &mdash; Simple as 1, 2, 3</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2" id="steps-box2">
                    <div class="the-steps">
                        <div>1</div>
                        <p>Choose the subscription plan that best fits your needs and sign up today.</p>
                    </div>
                    <div class="the-steps">
                        <div>2</div>
                        <p>Order your delicious meal using our mobile app or website. Or you can even call us!</p>
                    </div>
                    <div class="the-steps">
                        <div>3</div>
                        <p>Enjoy your meal after less than 20 minutes. See you the next time!</p>
                    </div>
                </div>
            </div>
        </section>
        <!--- City section --->
        <section class="city-section" id="our-cities">
            <div class="row">
                <h2>We're currently in these cities</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-4 box">
                    <img src="resources/img/lisbon-3.jpg">
                    <h3 class="city-title">Libson</h3>
                    <div class="city-features">
                        <i class="ion-happy-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter-outline icon-small"></i>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="col span-1-of-4 box">
                    <img src="resources/img/san-francisco.jpg">
                    <h3 class="city-title">San Francisco</h3>
                    <div class="city-features">
                        <i class="ion-happy-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter-outline icon-small"></i>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="col span-1-of-4 box">
                    <img src="resources/img/berlin.jpg">
                    <h3 class="city-title">Berlin</h3>
                    <div class="city-features">
                        <i class="ion-happy-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter-outline icon-small"></i>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="col span-1-of-4 box">
                    <img src="resources/img/london.jpg">
                    <h3 class="city-title">London</h3>
                    <div class="city-features">
                        <i class="ion-happy-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star-outline icon-small"></i>

                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter-outline icon-small"></i>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </section>
    <!--- Plans section --->
        <section class="plans-section js--plans-section" id="sign-up">
            <div class="row">
                <h2>Plans Section</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div class="premium-box">
                            <h3>Premium</h3>
                            <p class="price-plan">399$ <span>/ month</span></p>
                            <p class="meal-price"></p>
                        </div>
                        <div class="premium-details-box">
                            <ul class="plan-details">
                                <li><i class="ion-ios-checkmark-empty icon-small"></i></li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Order 24/7</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Access to newest creations</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Free delivery</li>
                            </ul>
                        </div>
                        <div class="premium-signup">
                            <a href="/signup" class="btn btn-fill">Sign Up Now</a>
                        </div>
                    </div>
                </div>
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div>
                            <h3>Pro</h3>
                            <p class="price-plan">149$ <span>/ month</span></p>
                            <p class="meal-price">Thatís only 14.90$</p>
                        </div>
                        <div>
                            <ul class="plan-details">
                                <li><i class="ion-ios-checkmark-empty icon-small"></i></li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Order 24/7</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Access to newest creations</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Free delivery</li>
                            </ul>
                        </div>
                        <div>
                            <a href="/signup" class="btn2 btn-signup">Sign Up Now</a>
                        </div>
                    </div>
                </div>
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div>
                            <h3>Starter</h3>
                            <p class="price-plan">19$ <span>/ </span></p>
                            <p class="meal-price">&nbsp;</p>
                        </div>
                        <div>
                            <ul class="plan-details">
                                <li><i class="ion-ios-checkmark-empty icon-small"></i></li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Order from 8 am to 12 pm</li>
                                <li><i class="ion-ios-close-empty icon-small"></i></li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Free delivery</li>
                            </ul>
                        </div>
                        <div>
                            <a href="/signup" class="btn2 btn-signup">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<% include partials/footer %>
