<DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="resources/css/profile.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <title>Green Apron</title>
    </head>
    <body>
        <header>
            <nav class="static">
                <div class="row">
                    <a href="/"><img src="resources/img/greenapron-logo.png" alt="Omnifood logo" class="logo"></a>
                    <a href="/"><img src="resources/img/greenapron-logo.png" alt="Omnifood logo" class="logo-small"></a>
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
      <section class="features-section">
        <div class="row">
          <h2> Profile Page </h2>
        </div>
      </section>

      <footer>
          <div class="row">
              <div class="col span-1-of-2">
                  <ul class="footer-nav">
                      <li><a href="/about-us">About Us</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="/press">Press</a></li>
                      <li><a href="/drive-for-us">Drive for us</a></li>
                      <li><a href="/help">Help</a></li>
                  </ul>
              </div>
              <div class="col span-1-of-2">
                  <ul class="social-links">
                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                      <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="row">
              <p>
                  Copyright &copy; 2017 by Green Apron. All rights reserved.
              </p>
          </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="vendors/js/jquery.waypoints.min.js"></script>
      <script src="resources/js/signup.js"></script>
  </body>
</html>
